mixin imgFixed(name, w, h, folder = "images/decors")
  picture
    source(srcset=`./${folder}/${name}.avif` type="image/avif")
    source(srcset=`./${folder}/${name}.webp` type="image/webp")
    img(
      src=`./${folder}/${name}.png`
      width=w
      height=h
      alt=""
      loading="lazy"
      decoding="async"
    )
//- +imgFixed("visa", 48, 48, "images/ui/icons")    